/modules
/config.sub
/config.h
/config.log
/config.nice
/config.status
/configure
/configure.in
/Makefile
/Makefile.*
/missing
/install-sh
/libtool
/ltmain.sh
/mkinstalldirs
/.deps
/depcomp
/compile
/*.lo
/*.la
/run-tests.php
/tags
/tmp-php.ini
/.libs
